<div class="container mt50 mb100">

  <div class="well well-sm text-center">
   
   <h3> Hello Readers!</h3>
   <p> Hope you're enjoying reading. We're here for voracious readers like you to keep that zeal alive. Yeah! we love reading, we love books and we're in the love with the fragrance of the books. 
     We've designed this website so that you can easily search and find books which matches your taste.
     You can go to Book Shelf and see the ratings of the book and you can also buy them easily by just clcking on Buy link at the bottom of each book. We will add more books and features in this website.
     We will be adding one more feature where you can write your blog and publish your short stories. We all have that liitle author inside us, so give it a voice and your stage is here. Its coming soon :)
     You suggestion and ideas are welcome.</p>
    <p><strong> Please write us on <span class="glyphicon glyphicon-envelope"></span> <a href = 'mailto:voraciousreaders@bookreads.com?'>voraciousreaders@bookreads.com</a>.</strong>
</p> 
<img src="assets/images/11.jpg" class="img-responsive "alt="my dream library">
</div>

</div>