<div class="container mt50 mb100" ><carousel>
  <slide>
    <img src="assets/images/cr6.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3></h3>
      <p>KEEP CALM AND READ A BOOK</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/cr4.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3></h3>
      <p>KEEP CALM AND READ A BOOK</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/carousel2.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3></h3>
      <p>KEEP CALM AND READ A BOOK</p>
    </div>
  </slide>
</carousel>


<!-- Quotes-->
<div class="col-lg-12 text-center">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"  *ngFor="let quote of data">
    <div class="quote_tile">
      <img src="assets/images/{{quote.image}}"> 
     
  </div>
  
  </div>
  
  



</div>
<!-- Quotes-->
