<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">
        <img alt="BookReads" src="assets/images/download.png">
        
      </a>

    </div>

    <form class="navbar-form navbar-right" role="search">
      
      <a routerLink='/book-shelf' class="btn btn-default nav_buttons">Book Shelf</a>
      <a routerLink='/my-books' class="btn btn-default nav_buttons">My Books</a>
      <a routerLink='/my-reviews' class="btn btn-default nav_buttons">My Reviews</a>
      <a routerLink='/aboutus' class="btn btn-default nav_buttons">About Us</a>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search books..">
      </div>
      <button type="submit" class="btn btn-default search_button">Search</button>
    </form>
  </div>

</nav>